* {
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


a {
    color: #006FFF;
}


/* ***************************** */
header {}

.top-header {
    background-color: #3191FF;
    padding: 15px 0;
    position: relative;
}

.contact-top {}

.contact-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-top ul li {
    display: inline-block;
}

.contact-top ul li a {
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
}

.account-nav {}

.account-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.account-nav ul li {
    display: inline-block;
}

.account-nav ul li a {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

.main-header {
    background-color: #fff;
    box-shadow: 0 0 10px #8B8B8B38;
}

.navbar-expand-lg {
    padding: 0;
}

.navbar-brand {
    max-width: 80px;
    width: auto;
}

.nav-link {
    color: #707070;
    text-decoration: none;
    font-weight: 500;
    transition: linear .2s;
    text-transform: capitalize;
    margin-left: 15px;
    font-size: 15px;
}

.nav-link:hover {
    color: #78B52D;
    transition: linear .2s;
}

.nav-link.active {
    color: #78B52D;
    text-decoration: underline;
}

.navbar-toggler {}

.navbar-toggler i {}

.search-icon {
    background-color: #78B52D;
    border: 2px solid transparent;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 16px;
}

.search-icon:hover {
    border-color: #78B52D;
    background-color: #fff;
}

.search-form {}

.search-form input {}

.search-form button {}

.search-form button i {}


/* ********************************************* */
/* Sign in & sign up page css */
/* ********************************************* */
.account-log {
    margin-top: 80px;
    margin-bottom: 150px;

}

.form-account {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px #8B8B8B38;
    padding: 40px 40px;
}

.form-header {}

.form-header img {
    width: 85px;

}

.form-header h1 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin-top: 0;
}

.form-log {}

.form-body {}

.form-body form {}

.form-body form p {
    margin-bottom: 25px;
    margin-top: 0;
}

.form-body form p label {
    color: #333;
    margin-bottom: 10px;
    margin-left: 15px;
}

.form-body form p input,
.form-body form p select {
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 0 5px 2px #3e3e3e14;

}

.form-body form p input:focus {
    box-shadow: inset 0 0 5px 2px #3e3e3e14;
}

.form-body form p select:focus {
    box-shadow: inset 0 0 5px 2px #3e3e3e14;
}

.form-body form p a {
    margin-left: 15px;
}


.btn-submit {
    background-color: #9FBE3C;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    width: 100%;
    transition: linear .2s;
}

.btn-submit:hover {
    transition: linear .2s;
    background-color: #78B52D;
}

.form-footer {}

.form-footer p {
    color: #a5a5a5;
}

.form-footer p a {}





/* ********************************************* */
/* ********************************************* */



.short-routine {
    padding: 8px;
    background-color: #FF8D29;
    border-radius: 300px;
    display: table;
    width: 100%;

    margin-top: 30px;
}

.routine-overview {
    display: table-cell;
    width: 400px;
    vertical-align: middle;
}

.routine-overview img {
    width: 105px;
    margin-right: 15px;
    float: left;
}

.routine-overview ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.routine-overview ul li {}

.routine-overview ul li h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    line-height: 30px;
}

.routine-overview ul li p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    color: #000;
}

.routine-schedule {
    background-color: #fff;
    border-radius: 150px;
    padding: 5px;
    padding-left: 50px;
}

.routine-schedule ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.routine-schedule ul li {
    font-size: 15px;
    line-height: 25px;
    color: #a5a5a5;
}

.routine-schedule ul li i {
    color: #9FBE3B;
    margin-right: 10px;
}

.routine-schedule ul li span {
    color: #FF8D29;
    margin-right: 5px;
}

/* **************************************** */
/* **************************************** */
.routine-tab {
    margin-top: 30px;
}

.routine-tab-nav {
    background: #F3F3F3;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.routine-tab-nav li {
    display: inline-flex;
    margin: 10px 15px;
}

.routine-tab-nav li a {
    background-color: #FFF;
    color: #7B7B7B;
    text-decoration: none;
    padding: 5px 36px;
    border-radius: 40px;
}

.routine-tab-nav li a i {
    color: #9FBE3B;
}

.routine-tab-nav li.uk-active a {
    background-color: #9FBE3B;
    color: #fff;
}

.routine-tab-nav li.uk-active a i {
    color: #fff;
}

.citem-box {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px #8B8B8B38;
    margin-bottom: 30px;
    padding: 22px 25px;
    padding-bottom: 20px;
}

.citem-header {}

.citem-header h3 {
    font-size: 28px;
    line-height: 40px;
    color: #9FBE3B;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: capitalize;

}

.citem-header p {
    font-size: 14px;
    line-height: 18px;
    color: #7B7B7B;
    margin-top: 3px;

}

.citem-body {
    padding-bottom: 5px;
}

.citem-body p {
    font-size: 15px;
    line-height: 24px;
    color: #9F9F9F;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;

}

.citem-footer {}

.citem-footer ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.citem-footer ul li {
    display: inline-flex;
    width: 50%;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.citem-footer ul li:last-child {
    padding-right: 0;
    padding-left: 5px;
}

.citem-footer ul li a {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #FF8D29;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
}

.citem-footer ul li a i {
    margin-right: 8px;
}